/* html {
    height: 100%
} */

body {
    background-image: url(Images/Sounds.png);
}

div.top-bar {
    background-color: #f8c50f;
}

ul.dropdown.menu {
    background-color: #f8c50f;
}
/* header {
    background-color: #f8c50f;
} */
a {
    color: #5e8205;
}

.grid-container {
    margin-top: 40px;
    margin-bottom: 80px;
    height: auto;
    width: auto;
}

.card {
    /* height: 100%; */
    min-height: 730px;
    width: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    /* padding-bottom: 30px; */
}

.card-divider {
    text-align: center;
}

.image {
    padding: 20px;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
.image {
    padding: 10px;
    height: 200px;
    width: auto;
}


footer.footer-nav.row.top-bar {
    background-color: #15af9d;
}

footer {
    margin-bottom: 0;
    margin-top: 40px;
    /* padding-top: 70px; */
    /* margin-top: 100px; */
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 60px;
}

@import 'util/util';
/* Small only
@media screen and (max-width: 39.9375em) {}
/* Medium and up */
/* @media screen and (min-width: 40em) {} */
/* Medium only */
/* @media screen and (min-width: 40em) and (max-width: 63.9375em) {} */
/* Large and up */
/* @media screen and (min-width: 64em) {} */
/* Large only */
/* @media screen and (min-width: 64em) and (max-width: 74.9375em) {} */ */
}
